<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.meal_ordering_system.dao.MenusMapper">
  <resultMap id="BaseResultMap" type="com.example.meal_ordering_system.entity.Menus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="burden" jdbcType="VARCHAR" property="burden" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="sums" jdbcType="INTEGER" property="sums" />
    <result column="price1" jdbcType="REAL" property="price1" />
    <result column="sums1" jdbcType="INTEGER" property="sums1" />
    <result column="imgpath" jdbcType="VARCHAR" property="imgpath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, typeid, burden, brief, price, sums, price1, sums1, imgpath
  </sql>
  <select id="selectByExample" parameterType="com.example.meal_ordering_system.entity.MenusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from menus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.meal_ordering_system.entity.MenusExample">
    delete from menus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.meal_ordering_system.entity.Menus">
    insert into menus (id, name, typeid, 
      burden, brief, price, 
      sums, price1, sums1, imgpath
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, 
      #{burden,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{sums,jdbcType=INTEGER}, #{price1,jdbcType=REAL}, #{sums1,jdbcType=INTEGER}, #{imgpath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.meal_ordering_system.entity.Menus">
    insert into menus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="burden != null">
        burden,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="sums != null">
        sums,
      </if>
      <if test="price1 != null">
        price1,
      </if>
      <if test="sums1 != null">
        sums1,
      </if>
      <if test="imgpath != null">
        imgpath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="burden != null">
        #{burden,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="sums != null">
        #{sums,jdbcType=INTEGER},
      </if>
      <if test="price1 != null">
        #{price1,jdbcType=REAL},
      </if>
      <if test="sums1 != null">
        #{sums1,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        #{imgpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.meal_ordering_system.entity.MenusExample" resultType="java.lang.Long">
    select count(*) from menus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update menus
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.typeid != null">
        typeid = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.burden != null">
        burden = #{record.burden,jdbcType=VARCHAR},
      </if>
      <if test="record.brief != null">
        brief = #{record.brief,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.sums != null">
        sums = #{record.sums,jdbcType=INTEGER},
      </if>
      <if test="record.price1 != null">
        price1 = #{record.price1,jdbcType=REAL},
      </if>
      <if test="record.sums1 != null">
        sums1 = #{record.sums1,jdbcType=INTEGER},
      </if>
      <if test="record.imgpath != null">
        imgpath = #{record.imgpath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update menus
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      typeid = #{record.typeid,jdbcType=INTEGER},
      burden = #{record.burden,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      sums = #{record.sums,jdbcType=INTEGER},
      price1 = #{record.price1,jdbcType=REAL},
      sums1 = #{record.sums1,jdbcType=INTEGER},
      imgpath = #{record.imgpath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.meal_ordering_system.entity.Menus">
    update menus
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="burden != null">
        burden = #{burden,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="sums != null">
        sums = #{sums,jdbcType=INTEGER},
      </if>
      <if test="price1 != null">
        price1 = #{price1,jdbcType=REAL},
      </if>
      <if test="sums1 != null">
        sums1 = #{sums1,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        imgpath = #{imgpath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.meal_ordering_system.entity.Menus">
    update menus
    set name = #{name,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      burden = #{burden,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      sums = #{sums,jdbcType=INTEGER},
      price1 = #{price1,jdbcType=REAL},
      sums1 = #{sums1,jdbcType=INTEGER},
      imgpath = #{imgpath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>